@import '../../styles/general';
div#portal{
  height:100%;
  display:flex;
  flex-direction:column;
  &>div#header{
    height:50px;
    @include paint(#263238);
    display:flex;
    justify-content:space-between;
    &>div{
      display:flex;
    }
    & div#logo > img{
      width:50px;
      cursor:pointer;
    }
  }
  &>div#main{
    height:100%;
    display:flex;
    background-color:#546e7a;
    &>div#sidenav{
      width:70px;
      background-color:#263238;
      border-right:1px outset #263238;
      display:flex;
      flex-direction:column;
      justify-content:space-between;
    }
    &>div#space{
      width:100%;
      position:relative;
    }
  }
  & .level-100{
    z-index:100;
  }
}