svg.chart{
  cursor:pointer;
  width:100%;
  height:100%;
  & #bg-grid{
    stroke:#fafafa;
    stroke-width:0.1;
  }

  & .indicator{
    stroke:#FFFF00;
    stroke-opacity:1;
    stroke-width:0.3;
  }
  
  & > rect.zoombase, > rect.bg{
    width:100%;
    height:100%;
    fill:url(#bg-grid);
  }
  
  & text{
    fill:white;
  }
  
  &.volume{
    & rect.bar{
      fill:red;
    }
  }
}

svg.axis{
  width:100%;
  height:100%;
  cursor:pointer;
  &>rect.bg{
    fill:url(#bg-grid);
  }
  & .domain{
    stroke:none;
  }
  & .tick line{
    stroke:white;
  }
  & .tick text{
    fill:white;
  }
}