svg.chart{
  cursor:pointer;
  width:100%;
  height:100%;
  & #bg-grid{
    stroke:#fafafa;
    stroke-width:0.5;
    stroke-opacity:0.3;
  }

  & g.indicator{
    &> line{
      stroke:#FFFF00;
      stroke-opacity:1;
      stroke-width:0.3;
    }
    &>rect{
      stroke:none;
      fill:none;
      width:100%;
      height:100%;
    }
  }
  
  & > rect.zoombase, > rect.bg{
    width:100%;
    height:100%;
    fill:url(#bg-grid);
  }
  
  & text{
    fill:white;
  }
  
  &.timeseries{
    & line.wick{
      stroke-width:0.5;
    }
    & .company-name{
      font-size:4em;
      font-weight:400;
      fill-opacity:0.1;
      font-style:italic;
      text-anchor:middle;
    }
    & .line{
      stroke-width:2;
      stroke-linecap:round;
      stroke-linejoin:round;
    }
    & .line.graph{
      stroke:#03a9f4;
      fill:none;
    }
    & .area.graph{
      stroke:none;
      fill:url(#area-shade);
    }
  }
  
  &.volume{
    & rect.bar{
      fill:red;
    }
  }
}

svg.axis{
  width:100%;
  height:100%;
  cursor:pointer;
  &>rect.bg{
    fill:url(#bg-grid);
  }
  & .domain{
    stroke:none;
  }
  & .tick line{
    stroke:white;
  }
  & .tick text{
    fill:white;
  }
  & > g.pointer{
    &>rect{
      height:20px;
      fill:#ffab00;
      fill-opacity:0.8;
    }
    &>text{
      stroke:white;
      stroke-width:0.8;
      text-anchor:middle;
      fill:none;
      font-size:0.8em;
      font-family:Arial;
    }
  }
  &.y > g.pointer{
    &>rect{
      width:100%;
    }
  }
  &.x > g.pointer{
    &>rect{
      width:100px;
    }
  }
}