@import '../../styles/general';
div#open{
  @include paint(#263238);
  color:white;
  width:320px;
  margin:auto;
  border-radius:3px;
  &>div.tabs{
    display:flex;
    &>div.tab{
      text-align:center;
      cursor:pointer;
      width:50%;
      @include row-height(40);
      &.active{
        border-bottom:3px solid #42a5f5;
      }
    }
  }
  &>form{
    width:300px;
    margin:0.5em;
    & input{
      display:block;
      color:white;
      width:100%;
      @include row-height(40);
      margin:0.5em 0;
      padding:0 0.5em;
      background-color:transparent;
      border:1px solid #b0bec5;
      border-radius:3px;
      outline:none;
    }
    &>div#mobile{
      display:flex;
      & > input{
        border-radius:0 3px 3px 0;
      }
    }
    & button{
      color:#263238;
      font-size:1.2em;
      font-weight:500;
      @include paint(#42a5f5);
      height:40px;
      width:50%;
      color:white;
      &:hover{
        box-shadow:0px 0px 10px #42a5f5;
      }
      &:focus{
        outline:none;
      }
    }
    & > #googleSignup{
      width:100%;
      height:40px;
      margin:0.5em 0;
      & > button{
        width:100%;
        height:100%;
        color:white;
        font-size:1.2em;
        font-weight:500;
        @include paint(#d32f2f);
        &:hover{
          box-shadow:0px 0px 10px #d32f2f;
        }
      }
    }
  }
  & .open-dialog-enter{
    opacity:0;
  }
  & .open-dialog-enter-active{
    opacity:1;
    transition:opacity 500ms;
  }
  & .open-dialog-exit{
    opacity:1;  
  }
  & .open-dialog-exit-active{
    opacity:0;
    transition:opacity 500ms;
  }
}