@import 'app/styles/general';
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family:"Segoe UI", Courier, Verdana, Helvetica;
  font-size:16px;
}

html, body, div#root{
  height:100%;
}
div#root{
  background-color:#cfd8dc;
}
div.tabs{
  display:flex;
  & div.tab{
    text-align:center;
    cursor:pointer;
    &.active{
      border-top-style:inset;
      border-left-style:inset;
    }
  }
}
.ip-icons, button{
cursor:pointer;
}
