@import 'app/styles/general';
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  outline:none;
  scrollbar-width:thin;
}
body{
  font-family:"Segoe UI", Verdana, Helvetica;
  font-size:16px;
  background-image:url("./app/data/images/main-background.jpg");
}

html, body, div#root{
  height:100%;
}

::-webkit-scrollbar{
  width:10px;
  background:#263238;
  border-radius:5px;
  cursor:pointer;
} 
::-webkit-scrollbar-track{
  border-radius:5px;
}
::-webkit-scrollbar-thumb{
  background:#78909c;
  border-radius:5px;
}

div#root{
  position:relative;
}

.ip-icons, button{
  cursor:pointer;
}
ul{
  list-style-type:none;
}
.fade-enter{
  opacity:0;
}
.fade-enter-active{
  opacity:1;
  transition:opacity 100ms linear;
}
.fade-exit{
  opacity:1;
}
.fade-exit-active{
  opacity:0;
  transition:opacity 100ms linear;
}
.pop-enter{
  transform:scale(0.8);
}
.pop-enter-active{
  transform:scale(1);
  transition:transform 200ms linear;
}
.pop-exit{
  transform:scale(1);
}
.pop-exit-active{
  transform:scale(0.8);
  transition:transform 200ms linear;
}

.slide-up-enter{
  transform:translate(0px, 30px);
}
.slide-up-enter-active{
  transform:translate(0px, 0px);
  transition:transform 200ms;
}
.slide-up-exit{
  transform:translate(0px, 0px);
}
.slide-up-exit-active{
  transform:translate(0px, 30px);
  transition:transform 200ms;
}

.level-100{
  z-index:100;
}
.level-200{
  z-index:200;
}
.level-300{
  z-index:300;
}
.level-400{
  z-index:400;
}
.level-500{
  z-index:500;
}