@import 'app/styles/general';
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family:"Segoe UI", Courier, Verdana, Helvetica;
  font-size:16px;
  background-image:url("./app/data/images/main-background.jpg");
}

html, body, div#root{
  height:100%;
}
div#root{
  position:relative;
}

.ip-icons, button{
  cursor:pointer;
}
ul{
  list-style-type:none;
}
.fade-enter{
  opacity:0;
}
.fade-enter-active{
  opacity:1;
  transition:opacity 100ms linear;
}
.fade-exit{
  opacity:1;
}
.fade-exit-active{
  opacity:0;
  transition:opacity 100ms linear;
}