@import 'app/styles/general';
body > div#root{
  height:100%;
  position:relative;
  overflow:auto;
  animation-duration:400ms;
  animation-direction:alternate-reverse;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.ip-icons{
  display:inline-block;
  cursor:pointer;
}

div.icon > svg{
  height:100%;
}

.level-100{
  z-index:100;
}
.level-200{
  z-index:200;
}
.level-300{
  z-index:300;
}
.level-400{
  z-index:400;
}
.level-500{
  z-index:500;
}

/** React css transitions **/
/****/
.fade-enter{
  opacity:0;
}
.fade-enter-active{
  opacity:1;
  transition:opacity 100ms linear;
}
.fade-exit{
  opacity:1;
}
.fade-exit-active{
  opacity:0;
  transition:opacity 100ms linear;
}

/****/

.pop-enter{
  transform:scale(0.9);
}
.pop-enter-active{
  transform:scale(1);
  transition:transform 100ms linear;
}
.pop-exit{
  transform:scale(1);
}
.pop-exit-active{
  transform:scale(0.9);
  transition:transform 100ms linear;
}

/****/

.slide-up-enter{
  transform:translate(0px, 30px);
}
.slide-up-enter-active{
  transform:translate(0px, 0px);
  transition:transform 100ms;
}
.slide-up-exit{
  transform:translate(0px, 0px);
}
.slide-up-exit-active{
  transform:translate(0px, 30px);
  transition:transform 100ms;
}

/****/

.slide-right-enter{
  transform:translate(100px, 0px);
}

.slide-right-enter-active{
  transform:translate(0px, 0px);
  background-color:red;
  transition:transform 100ms;
}

.slide-right-exit{
  transform:translate(0px, 0px);
}

.slide-right-exit-active{
  transform:translate(100px, 0);
  transition:transform 100ms;
}

/****/
.expand-down-enter{
  height:0px;
}

.expand-down-enter-active{
  height:150px;
  transition:height 500ms;
}

.expand-down-exit{
  height:150px;
}

.expand-down-exit-active{
  height:0px;
  transition:height 500ms;
}